<div class="site-content pb-2">
    <div class="date-stamp mb-2">APRIL 2019</div>
    <div class="content-header mb-5">
        Lorem ipsum dolor sit amet
    </div>
    <div class="content-text pb-3">
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam</p>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, 
            sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. 
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. 
            At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    </div>
    <div class="social-icons my-3">
        <a href="" target="_blank" class="me-2">
            <img src="assets/images/group.png" alt="group">
        </a>
        <a href="" target="_blank" class="mx-2">
            <img src="assets/images/group-3.png" alt="instagram">
        </a>
        <a href="" target="_blank" class="mx-2">
            <img src="assets/images/group-6.png" alt="facebook">
        </a>
        <a href="" target="_blank" class="mx-2">
            <img src="assets/images/group-8.png" alt="x (formerly twitter)">
        </a>
        <a href="" target="_blank" class="mx-2 hide-on-mobile">
            <img src="assets/images/linkedin.png" alt="linkedin">
        </a>
    </div>
</div>
<app-info></app-info>