<div class="mx-3 me-xl-5 footer-content pt-2">
    <div class="row mx-3 my-4 justify-content-between ">
        <div class="col-12 col-xl-auto">
            <div class="row gx-5">
                <div class="col-12 col-xl-auto text-xl-start text-center mb-3 mb-xl-0">
                    <div>Musterstraße 1 </div>
                    <div>12345 Musterstadt</div>
                </div>
                <div class="col-12 col-xl-auto text-xl-start text-center mb-3 mb-xl-0">
                    <div>Telefon: +49 123 4567890</div>
                    <div>Email: info&#64;musterfirma.de</div>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-auto mobile-media-icon text-center my-4 my-xl-0">
            <a href="" target="_blank" class="mx-2">
                <img src="assets/images/group-3.png" alt="instagram">
            </a>
            <a href="" target="_blank" class="mx-2">
                <img src="assets/images/group-6.png" alt="facebook">
            </a>
        </div>
        <div class="col-12 col-xl-auto">
            <div class="row justify-content-xl-end text-center justify-content-center gx-xl-5 mb-3 mb-xl-0">
                <a class="col-auto">Impressum</a>
                <a class="col-auto">Datenschutz</a>
                <a class="col-auto">AGB</a>
            </div>
            <div class="row mt-2 mb-3 justify-content-xl-end text-center mb-xl-0">
                <div class="col px-xl-2 px-3">Copyright © 2025 Muster Firma - Alle Rechte vorbehalten.</div>
            </div>
        </div>
    </div>
</div>
