<div class="info-content">
    <div class="row gx-5">
        <div class="col-xl-6 my-3">
            <div class="date-stamp mb-1">SERVICE</div>
            <div class="info-header mb-3">
                Keine Angst wir beißen nicht
            </div>
            <div class="content-text py-2">
                <p>At vero eos et accusam et justo duo dolores et ea rebum, at vero eos et accusam et justo duo dolores et ea rebumstet clita kasd gubergren</p>
            </div>
            <button mat-stroked-button class="rectangular-button" (click)="openContactFormDialog()">Kontakt</button>
        </div>
        <div class="col-xl-6 my-3">
            <div class="date-stamp mb-1">JOBS</div>
            <div class="info-header mb-3">
                Du willst ein Teil uns sein?
            </div>
            <div class="content-text py-2">
                <p>At vero eos et accusam et justo duo dolores et ea rebum, at vero eos et accusam et justo duo dolores et ea rebumstet clita kasd gubergren</p>
            </div>
            <button mat-stroked-button class="rectangular-button"> Jobangebot </button>
        </div>
    </div>
</div>
<div class="newsletter text-center">
    <div class="date-stamp mb-1">NEWSLETTER</div>
    <div class="info-header mb-2">
        Nichts verpassen!
    </div>
    <div class="content-text pt-1">
        <p>At vero eos et accusam et justo duo dolores et ea rebum</p>
    </div>
    <button mat-stroked-button class="rectangular-button-green mt-1" style="font-weight: 300;"> Newsletter abonnieren </button>
</div>